<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<body>
    <br><br>
    <h1 class="text-center text-white font- weight-bold">Login</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 offset-4 divup">
                <form id="my" >
<div height="40px" width="80px" class="divdown">
    <div class="container text-center success" id="formBackground"> 
        <br>
        
        <input type="text" class="form-control text"  id="email" placeholder="Enter email">
        <span id = "emailname" class="text-danger font-weight-bold "></span>
        <br>
        <input type="password" class="form-control text" id="psw" placeholder="Enter password">
        
        <span id="passwrd" class="text-danger font-weight-bold"></span>
        <br><br>
        <input type="checkbox" id="check">  
        <span>Check this custom checkbox</span>
        <br><br>
        <button class="btn btn-success btn-lg forbutton SigninButtonColor" onclick="return validation()">Log in</button>
        <br><br>
            </div>
            </div>
        </form>
            <br>
            <div class="text-center text-white">
                <a  class= "text-white font- weight-bold">Forgot Your Password?</a>
                <p><b>dont have account ?</b> <a  onclick="return create_account()" class= "text-white font- weight-bold">Create account</a></p>
            </div>
            </div>
    </div>
    <div id="dialog" title="Fail to login">
        <p>Email and Password not exist</p>
      </div>
</div>
<script type="text/javascript">
    function create_account(){
        //to open in new tab
       // window.open("/PageCreateAccount")
       //to open in same page
       document.location.href = '/PageCreateAccount'
    }
    function validation(){
        
        var email = document.getElementById('email').value;
        var password = document.getElementById('psw').value;

        if(email==""){
          document.getElementById('emailname').innerHTML = "please fill the emailname field";
          return false;
        }
        
        else{
            document.getElementById('emailname').innerHTML = "";
        }
        if(email.indexOf('@')<=0){
            document.getElementById('emailname').innerHTML = "@ Invalid Position";
          return false; 
        }
        else{
            document.getElementById('emailname').innerHTML = "";
        }
        if((email.charAt(email.length-4)!='.') && (email.charAt(email.length-3)!='.'))
        {
            document.getElementById('emailname').innerHTML = " . Invalid Position";
          return false; 
        }
        else{
            document.getElementById('emailname').innerHTML = "";
        }

        if(password==""){
            document.getElementById('passwrd').innerHTML = "please fill the passwrd field";
          return false;   
        }
        else{
            document.getElementById('passwrd').innerHTML = "";
        }
        if((password.length<=8)||(password.length>20)){
            document.getElementById('passwrd').innerHTML = "Password length must be between 8 to 20";
          return false;
        }
        else{
            document.getElementById('passwrd').innerHTML = "";
        }
        if(password.search (/[0-9]/)== -1){
            document.getElementById('passwrd').innerHTML = "Password must contain atleast 1 number";
          return false;
        }
        else{
            document.getElementById('passwrd').innerHTML = "";
        }
         if(password.search (/[A-Z]/)== -1){
            document.getElementById('passwrd').innerHTML = "Password must contain atleast 1 upper case";
          return false;
         }
         else{
            document.getElementById('passwrd').innerHTML = "";
        }
         if(password.search (/[a-z]/)== -1){
            document.getElementById('passwrd').innerHTML = "Password must contain atleast 1 lower case";
          return false;
         }
         else{
            document.getElementById('passwrd').innerHTML = "";
        }
        if(password.search (/[!\@\#\$\% \&\^\*\(\)\_\-\+\=\<\>\?\,\.]/)== -1){
            document.getElementById('passwrd').innerHTML = "Password must contain atleast 1 sp_char";
          return false; 
        }
        else{
            document.getElementById('passwrd').innerHTML = "";
        }
             senddata()   

    }
        function senddata(){
           var email=$('#email').val()
           var psw=$('#psw').val()       
           var data= [email,psw]
        
           $.ajax({
            type: "POST",
            url: "/insert_login_data",
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: 'json',
            success: function(result){
                alert(result)
                
            if(result== "success"){
                
                document.location.href = "/Welcomepage"
            }
            else if(result== "fail"){
                $( "#dialog" ).dialog();
              
            }  
            
            }
     })
    
    
    event.preventDefault()
    
        }
   </script>
</body>
</html>